/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/* 
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Signika', sans-serif;
  font-family: 'Work Sans', sans-serif; */
html {
  font-size: 62.5%;
  font-family: "Work Sans";
  scroll-behavior: smooth;
}
body {
  background-color: #f6f6f8;
}
button,
label,
input,
p,
span {
  color: #13140e;
  font-size: 3rem;
  font-size: calc(2rem + (35 - 20) * (100vw - 320px) / (1920 - 320));
}
li {
  font-size: 2.3rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: calc(7rem + (35 - 20) * (100vw - 320px) / (1920 - 320));
}

a {
  color: #001336;
  font-size: calc(1.6rem + (35 - 20) * (100vw - 320px) / (1920 - 320));
}

/* logo & top and bottom logo line */
#logo {
  position: fixed;
  left: 3rem;
  top: 4rem;
  z-index: 2;
}
#logo a {
  font-size: 1.6rem;
  font-weight: 500;
}
.top-line {
  display: flex;
  position: fixed;
  top: 0;
  width: 1000%;
}
.top-line p {
  font-size: 1.4rem;
}
.bottom-line {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 1000%;
}
.bottom-line p {
  font-size: 1.4rem;
}
.mir {
  color: #be0000;
  transform: rotate(360deg) matrix(-1, 0, 0, -1, -4, 0);
}

/* Hero and Nav  */
.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: sticky;
  top: 0;
}
.main-hero {
  display: inline-block;
  grid-area: 2 / 1 / 3 / 5;
  margin-left: 6%;
  color: #13140e;
}
.title {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.main-hero h2 {
  line-height: 50px;
  margin: 3rem 0;
}
.plant img {
  width: 60%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.main-nav ul {
  height: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.main-nav li {
  padding: 2rem 0;
}
.main-nav a {
  position: relative;
  color: #be0000;
  padding-right: 6rem;
}

/* nav animation */
.n1 a::after,
.n2 a::after,
.n3 a::after {
  color: #be0000;
  content: "Skills";
  position: absolute;
  left: 0px;
  bottom: -35px;
  font-size: calc(1.6rem + (35 - 20) * (100vw - 320px) / (1920 - 320));
}
.n2 a::after {
  content: "About";
}
.n3 a::after {
  content: "Contact";
}
.n1:hover a,
.n2:hover a,
.n3:hover a {
  display: inline-block;
  animation: slide 200ms 100ms ease-out;
}
@keyframes slide {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-35px);
  }
}
/* Skills section */

.skills {
  height: 70%;
  position: relative;
  background-color: #e9e9ec;
  border-bottom: 3px #001336 solid;
  box-shadow: -2px 0px 30px hsl(240, 87%, 3%);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 4rem;
}
.landing {
  height: 150vh;
  background-color: #000610;
  width: 100%;
  color: #262c38;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing h2 {
  font-family: sans-serif;
  font-size: 15rem;
  margin-top: 3rem;
}
.skills-title {
  color: #262f41;
  margin-top: 10rem;
  margin-bottom: 2rem;
}
.skills-title h2 {
  font-weight: 500;
  font-size: clamp(4rem, -1rem + 2vw, 1rem);
  padding: 1rem;
}
.skills-elements {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.skills-elements p {
  font-size: clamp(2.2rem, -1rem + 6vw, 1.8rem);
  padding: 0.9rem 1.6rem;
  background-color: #000610;
  color: #e0e4e3;
  border-radius: 1rem;
  margin: 0.6rem 0.5rem;
  font-weight: 600;
}
.susu {
  padding-top: 15rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
}
.skills-link {
  margin-top: 12rem;
}
.skills a {
  color: #f17048;
  padding: 2rem;
  font-size: 2.2rem;
}

/* About styles */

#about {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(images/4.jpg);
  background-size: contain;
  justify-content: center;
  display: flex;
}
.about-container {
  width: 75%;
  margin: auto;
}
.about-container p {
  padding: 6rem 0;
}
.about-link {
  padding-top: 5rem;
}
.about-link a {
  color: #f17048;
  padding: 2rem;
  font-size: 2.2rem;
}

/* contact styles */
.contact {
  position: relative;
  height: 100vh;
  background-color: #e9e9ec;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact label {
  display: inline-block;
  margin: 1.4rem 0;
  font-size: 2.2rem;
}
.contact input {
  display: inline-block;
  border: none;
}
.contact textarea {
  width: 100%;
  border: none;
}
.contact button {
  margin: 2rem 0;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.7rem;
  background-color: #f17048;
  color: #efeff1;
  font-size: 2.2rem;
  font-family: "Signika", sans-serif;
  cursor: pointer;
}
.contact button:hover {
  background-color: #da4c20;
}
.contact-link {
  margin-top: 10rem;
}
.contact-link a {
  color: #f17048;
  padding: 2rem;
  font-size: 2.2rem;
}
